@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans");

/* Estilos Generales */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* Reinicio de estilos */
body,
h1,
h2,
h3,
header p,
.menu{
    margin: 0;
}
.menu,
.list-unstyled{
    padding: 0;
}
iframe{
    border: 0;
}
.menu,
.list-unstyled{
    list-style: none;
}
:is(.menu, .social) a{
    text-decoration: none;
}