@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans");
/*ESTILOS DE CABECERA*/
header{
    background-color: aqua;
    background-image: linear-gradient(aqua,#6525);
    padding: .5rem;
    font-size: medium;
    border-radius: 1.25rem;
}
/*ESTILOS DEL PIE DE PÁGINA*/
footer{
    background-color: cadetblue;
    background-image: -moz-linear-gradient(cadetblue,#f0f);
    padding: .5rem;
    font-size: small;
    border-radius: 1.5rem;
}
/* Estilos Generales */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* Reinicio de estilos */
body,
h1,
h2,
h3,
header p,
.menu{
    margin: 0;
}
.menu,
.list-unstyled{
    padding: 0;
}
iframe{
    border: 0;
}
.menu,
.list-unstyled{
    list-style: none;
}
:is(.menu, .social) a{
    text-decoration: none;
}