@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans;");

/* Estilos Generales */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}